.container {
    width: 680px;

    .title {
        color: #cf2338;
        margin-bottom: 30px;
    }

    .common-form {
        display: flex;
        margin-bottom: 10px;
    }

    .title_input {
        width: 150px;
    }

    .input {
        height: 40px;
    }

    .input-radio-gender{
        width: 680px;
    }
    .button{
        display: flex;
        justify-content: flex-end;
    }
    .cancel-button{
        margin-left: 10px;
    }
    .input-new-password {
        display: flex;
        width: 680px;
    }
    .icon-new {
        border: none;
        outline: none;
        font-size: 1.5rem;
        margin-left: -2rem;
        background-color: transparent;
        cursor: pointer;
    }
   
}
