back-end/.vs/
back-end/Common/obj/
back-end/Common/bin/Debug/
back-end/AssetManagementTeam6.API/bin/Debug/
back-end/AssetManagementTeam6.API/obj/
back-end/AssetManagementTeam6.Data/bin/Debug
back-end/AssetManagementTeam6.Data/obj/
back-end/AssetManagementTeam6.API.Test/obj/Debug/
back-end/AssetManagementTeam6.API.Test/bin/Debug/
back-end/AssetManagementTeam6.API.Test/obj/
back-end/AssetManagementTeam6.API.Test/bin/
back-end/AssetManagementTeam6.Data/Migrations/
