.menuDropdown {
  padding: 0 10px 10px 10px !important;
}

.wrapButton {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.typeTitle {
  color: red;
  font-weight: bold;
}

.btnCancel {
  border: solid 1px #000 !important;
}
