.container {
    min-width: 1200px;

    .title_asset {
        color: red;
    }

    .filterbox {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1190px;
        position: relative;

        .input {
            border: none;
            background-color: transparent;
        }
    }

    .dropdown {
        position: absolute;
        border: 1px solid #b7b7b7;
        border-radius: 6px;
        width: 186px;
        background-color: #fff;
        z-index: 9;
        right: 0;
        margin-top: 4px;
        .dropdown_container {
            margin: 16px;

            .dropdown_title {
                font-weight: 700;
                margin-bottom: 10px;
                color: #cf2338;
            }

            .button {
                margin-top: 10px;

                .button_ok {
                    width: 50px;
                }

                .button_cancel {
                    margin-left: 10px;
                }
            }
        }
    }

    .btn_export {
        margin-left: 1150px;
    }
}
